<header class="page-header">
	<p>
		<%= image_tag 'logo.png', width: 120, class: 'img-responsive center-block' %>
	</p>
	<p>
		<%= image_tag 'volunteer-army-logo.png', width: 600, class: 'img-responsive center-block' %>
	</p>
</header>

<div class="alert alert-info">
	<p>Do you want to help others? Hillsborough County needs volunteers for a variety of activities. Take the quiz below to find the volunteer opportunity for which you're best suited. Answer as many or as few questions as you like. Leaving a section blank means you have no preference.</p>
	<p>No time to volunteer? Select "share this quiz" and do your part by getting the word out.</p>
	<p>Take part, help others, and feel good about yourself!</p>
</div>

<%= render 'form', quiz: @quiz %>

<!-- modals -->

<!-- shareThisModal -->
<div class="modal fade" id="shareThisModal" tabindex="-1" role="dialog" aria-labelledby="shareThisModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="shareThisModalLabel">Share this Quiz</h4>
			</div>
			<div class="modal-body">

				<div class="text-center">
					<% @sharethis.each do |share| %>
					<span
					class="<%= share.css_class %>"
					displayText="<%= share.name %>"
					st_url="<%= root_url %>"
					st_title="Volunteer Army - Earn Your Stripes!"
					st_image="<%= image_url 'logo.png' %>"
					st_summary="Hillsborough County Volunteer Army - Earn Your Stripes"></span>
					<% end if @sharethis.present? %>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- donateModal -->
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="donateModalLabel">Donate</h4>
			</div>
			<div class="modal-body">

				Donate

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
