<div class="form-group">
	<%= f.label :content, "Answer" %>
	<%= f.text_area :content, class: 'form-control' %>
</div>

<!-- Opps -->
<fieldset>
	<legend>Opportunity Weights</legend>
	<div class="row">
		<%= f.fields_for :opportunity_weights do |ff| %>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<%= render 'answer_opportunities/form_fields', f: ff %>
		</div>
		<% end %>
	</div>
</fieldset>

<div class="form-group">
	<ul class="list-inline">
		<li>
			<label>
				<%= f.check_box :hide_questions %>
				Hide <em>ALL</em> other Questions when this answer is selected.
			</label>
		</li>
		<li>
			<label>
				<%= f.check_box :show_donate_btn %>
				Show the Donation Button when this answer is selected.
			</label>
		</li>
	</ul>
</div>
